$breakpoint-mobile:  "only screen and (max-width : 720px)";

* {
  font-family: Helvetica
}
.block { background: #f4f4f7; }
.grid-example {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .third,
  .two-thirds,
  .full, .half {
    padding: 10px;
    background: #f4f4f7;
    margin: 2px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    // font-size: 1.8rem;
    line-height: 1.75;
  }
}
.nav a { text-decoration: none; }
.blur_container { color: white; }
#title { font-size: 600%; }
#logo, #github-llbuttons {
  @media #{$breakpoint-mobile} {
    justify-content: center;
    img { margin: auto; width: 25vw; }
  }
}

a, p a {
  color: grey;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  &:hover {
    color: darken(grey, 20%);
    border-bottom: 1px solid darken(grey, 20%)
  }
}

#builtwith img { height: 100%; width: 100% }
#dlelk {
  button {
    border-radius: 10%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      transform: scale(1.05);
    }
  }
 }
#docs p { margin-bottom: 10px; display: inline-block; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.gitlab-embed-snippets {
  margin: 0 !important;
  border-radius: 0 !important;
  .blob-content code {
    line-height: 1.6 !important;
  }
  .blob-content span,  .line-numbers span {
    font-size: 1rem !important;
  }
  .blob-content span {
    font-family: "Lucida Console", Monaco, monospace;
  }
}
.js-file-title * {
  font-size: 1rem !important;
}

.box {
  padding: 10px;
  background: #f4f4f7;
}

#docs {
  .row {
    margin-bottom: 5px;
    p {
      margin: 0;
    }
    code {
      min-width: 20%;
      background-color: #f4f4f7;
      margin-right: 10px;
    }
  }
  .row:nth-child(2n) {
    code {
      background-color: darken(#f4f4f7, 5%);
    }
  }
}

@media #{$breakpoint-mobile} {
  #elk-logo { 
    flex-flow: column-reverse;
    text-align: center;
    .col-4 {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center; 
      img {
        margin: 0;
      }
    }
    img {
      width: 50%;
    }
  }
  .js-file-title {
    display: none !important;
  }
  .gitlab-embed-snippets .line-numbers span {
    min-width: initial !important;
  }
}


