doctype
html
  head
    link(rel="stylesheet" href="/elk.css")
    link(rel="stylesheet" href="/site.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    script(async defer src="https://buttons.github.io/buttons.js")
  body.hcenter
    .container.l_round.s_shadow.m_vs.l_p
      != yield