doctype
html
  head
    link(rel="stylesheet" href="/elk.css")
    link(rel="stylesheet" href="/site.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body.hcenter
    != yield