.lander
  .column.tac.m_vs
    center
      .col-4#logo
        img.pull-right(src="/elk.svg")
      .col-12
        h1#title elkCSS
        h5 A sickeningly simple and responsive CSS boilerplate.
        a#dlelk(href="https://github.com/twentytwoo/elk-css")
          button.l_shadow.l_round.m_vs.l_p.focus Download
            b  elkCSS

h1 Intro
hr
p elkCSS is a result of the DRY principle, time and time again I've had to remake a base for websites, often taking valuable time to remind myself of documentation and properties. elk provides a simple base to build sites off in a sane and responsive fashion.
br
p elk is well suited for small websites, or those who don't want to hook in large frameworks. elk is a meant as a starting point, not a UI framework.
.row#github-buttons.m_vs
  a.github-button(href="https://github.com/twentytwoo/elkCSS" data-style="mega" data-count-href="/twentytwoo/elkCSS/stargazers" data-count-api="/repos/twentytwoo/elkCSS#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star twentytwoo/elkCSS on GitHub") Star
  .s_hs
  a.github-button(href="https://github.com/twentytwoo/elkCSS/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/twentytwoo/elkCSS/network" data-count-api="/repos/twentytwoo/elkCSS#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork twentytwoo/elkCSS on GitHub") Fork

br
.column
  .col-12
    h2 Responsive grid
    hr
    p Basic 12 column grid, includes some shorthands such as 
    code half
    | , 
    code third
    | , 
    code twothirds
    |  and 
    code full
    |.
    p The whole thing has 3 breakpoints, desktop, laptop and mobile.
    .m_vs
      script(src="https://gist.github.com/twentytwoo/ddba61c9c798550e67fbf8f1e7486717.js")
    p Read more about how elk handles responsive design in the "Mobile First" section.

.grid-example.m_vs
  .row
    .col-1 col-1
    .col-11 col-11
  .row
    .col-2 col-2
    .col-10 col-10
  .row
    .col-3 col-3
    .col-9 col-9
  .row
    .col-4 col-4
    .col-8 col-8
  .row
    .col-5 col-5
    .col-7 col-7
  .row
    .col-6 col-6
    .col-6 col-6
  .row
    .col-12 col-12
  .row
    .half half
    .half half
  .row
    .third third
    .two-thirds two-thirds
  .row
    .full full

.row
  .col-12
    .blur_container.m_round
      .blur_content
        img.pull-right(src="https://i.imgur.com/lOQl1VE.gif")
      div.s_vs.m_hs
        h2 Simple blur
        p Blurring an image is a nice effect, but can be pretty painful to implement since the usual way of doing it also blurs the content.
        br
        p elkCSS supplies numerous subtle helpers to polish up your site.

br
br
h1 "Mobile First"
hr
center
  p Fuck
  br
  p That
  br
  p Shit.
br
p.s_vs Mobile First has to be the worst paradigm ever. It's complicated and difficult to visualise elements popping in as screen size expands. It only makes sense you'd reduce, rather than introduce complexity with smaller screen sizes.
p.s_vs Instead, elk uses a unique system of removing elements as the screen size gets smaller, a sort of reverse Mobile Last.
p.s_vs For example, hiding an element when on a Laptop resolution will also mean the element is hidden on a Mobile resolution also.

p Consider,
.m_vs
  script(src="https://gist.github.com/twentytwoo/ad6737bafd0139a64a8be3222a260126.js")

p Which produces,

.row.preview
  .col-4.hol.m_hs
    p I'm getting outta here when you're on a Laptop or smaller
  .col-8
    p I'm here to stay, forever.

p The first element inside the row will disappear on a Laptop, but it also won't be present on a Mobile either.
.row
  .full
    p Similarly you can use 
    code .sod/l/m
    p  to show elements when the user is on a certain device.

p A caveat of this approach is that elements can not specifically be hidden or shown only on one resolution. Hide and Show can also not be used on the same element at the same time.

br
br
h1 Classes
hr
#docs
  h5.mono .container
  br
  br
  h5.mono .row
  p Aligns items in a row
  br
  br
  h5.mono .column
  p Aligns content in a column
  br
  br
  h5.mono .half
  p Half parent width
  br
  br
  h5.mono .third
  p Third parent width
  br
  br
  h5.mono .twothirds
  p Two thirds of parent width
  br
  br
  h5.mono .col-1...12
  p Child ratio of parent width, in increments of 12th's
  br
  br
  h5.mono .hod
  p Hide On Desktop, hides content on desktop resolution
  br
  br
  h5.mono .hol
  p Hide On Laptop
  br
  br
  h5.mono .hom
  p Hide On Mobile
  br
  br
  h5.mono .sod
  p Show On Desktop, show content on desktop resolution
  br
  br
  h5.mono .sol
  p Show On Laptop
  br
  br
  h5.mono .som
  p Show on Mobile
  br
  br
  h5.mono .vcenter
  p Vertically center contents of self
  br
  br
  h5.mono .hcenter
  p Horizontally center contents of self
  br
  br
  h5.mono .l/m/s_round
  p Large/Medium/Small border-radius helper
  br
  br
  h5.mono .l/m/s_shadow
  p Large/Medium/Small box-shadow
  br
  br
  h5.mono .l/m/s_vs
  p Large/Medium/Small vertical space, applies to top and bottom of self
  br
  br
  h5.mono .l/m/s_hs
  p Large/Medium/Small horizontal space, applies to left and right of self
  br
  br
  h5.mono .l/m/s_p
  p Large/Medium/Small padding
  br
  br
  h5.mono .nm
  p self has No Margin
  br
  br
  h5.mono .np
  p self has No Padding
  br
  br
  h5.mono .nr
  p self is Not Responsive (will not react to change in screen size)
  br
  br
  h5.mono .blur-container
  p Set a parent element for the pseduo-element blur-content
  br
  br
  h5.mono .blur-content
  p Create the pseudo element blur-content
  br
  br
  h5.mono .pull-left
  p Pull self to left of parent
  br
  br
  h5.mono .pull-right
  p Pull self to right of parent
  br
  br
  h5.mono .b
  p Bold text
  br
  br
  h5.mono .i
  p Italic text
  br
  br
  h5.mono .u
  p Underline text
  br
  br
  h5.mono .lt
  p LineThrough text
  br
  br
  h5.mono .bl
  p Use flex baseline to align items to bottom of text
  br
  br
  h5.mono .fl
  p Fill Height

br
p With this simple set of classes you can create complex layouts without writing a single line of CSS yourself.

.row.m_vs
  .column.col-8
    p.block.col-12.s_p.tar Hello World! My name is elkCSS and I'm a slick CSS boilerplate made for the cool minimalist kids.
    p.block.col-12.s_vs.s_p These three imposters below thee, begone on mobile!
    .row.fl.hom
      .col-4.block.s_p.s_hs
        img(src="/elk.svg")
      .col-4.block.s_p
        img(src="/elk.svg")
      .col-4.block.s_p.s_hs
        img(src="/elk.svg")
  .column.col-4.s_hs.fl
    .l_p
      img(src="/elk.svg")
    p.block.col-12.s_p.nm.fl.tac Image Caption

script(src="https://gist.github.com/twentytwoo/b34ffc0b9c2692de0ae2fd6137a54493.js")

br
h1 Typography and others
hr
.row
  .col-6
    table
      thead
        tr
          th Name
          th Age
          th Sex
          th Location
      tbody
        tr
          td Dave Gamache
          td 26
          td Male
          td San Francisco
        tr
          td Dwayne Johnson
          td 42
          td Male
          td Hayward
    ul
      li Eggs
      li Milk
      ul
        li Chocolate
        li Sweets
  .col-6.m_hs
    .column#heading-sizes
      p By default Helvetica is used for text and Inconsolata for code, served by Google Fonts.
      .row.bl.s_vs
        h1.s_hs Heading 1
        code.hom 5rem
      .row.bl.s_vs
        h2.s_hs Heading 2
        code.hom 4.2rem
      .row.bl.s_vs
        h3.s_hs Heading 3
        code.hom 3.6rem
      .row.bl.s_vs
        h4.s_hs Heading 4
        code.hom 3.0rem
      .row.bl.s_vs
        h5.s_hs Heading 5
        code.hom 2.4rem
      .row.bl.s_vs
        h6.s_hs Heading 6
        code.hom 1.5rem

br
br
h1 Credits
hr
p elkCSS 2.0
.row
  p Created by&nbsp;
  a(href="https://github.com/twentytwoo") twentytwoo
.row
  p Like my work? Consider donating to help me out&nbsp;
  a(href="https://ttxi.gq/donate") here.

.l_vs
h6 Sites built with elkCSS
.row.s_vs#builtwith.pop-out
  .col-6.hcenter
    img(src="https://raw.githubusercontent.com/twentytwoo/ttxi.gq/master/ftp/www/projects/mikiai.png")
  .col-6.hcenter
    img(src="https://raw.githubusercontent.com/twentytwoo/ttxi.gq/master/ftp/www/projects/stpgcf.png")
