body { background: #f4f4f7; }
.container { background-color: white; }
.block { background: #f4f4f7; }
.grid-example {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .third,
  .two-thirds,
  .full, .half {
    padding: 10px;
    background: #f4f4f7;
    margin: 2px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.8rem;
    line-height: 1.75;
  }
}
.nav a { text-decoration: none; }
.blur_container { color: white; }
.lander { min-height: 100vh; }
#title { font-size: 600%; }
#logo, #github-buttons {
  @media only screen and (max-width : 720px) {
    justify-content: center;
    img { margin: auto; width: 25vw; }
  }
}
.gist-meta { padding: 4px !important; * { font-size: 10px !important } }
#builtwith img { height: 100%; width: 100% }
#dlelk {
  button {
    &:hover { transform: scale(1.1); }
  }
 }
