doctype
html
  head
    title elkCSS | A simple and responsive CSS boilerplate.
    link(rel="icon" href="/assets/elk.svg" sizes="any" type="image/svg+xml")
    link(rel="stylesheet" href="/css/elk.css")
    link(rel="stylesheet" href="/css/site.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    script(async defer src="https://buttons.github.io/buttons.js")
  body.hcenter
    .container.l_round.s_shadow.m_vs.l_p
      != yield
  // Global site tag (gtag.js) - Google Analytics
  script(async="", src="https://www.googletagmanager.com/gtag/js?id=UA-111278512-1")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-111278512-1');
